*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none

::-moz-selection
  color: #fff
  color: rgba(255, 255, 255, 0.85)
  background: #33CC33

::selection
  color: #fff
  color: rgba(255, 255, 255, 0.85)
  background: #33CC33

body
  background: white
  font-family: 'Roboto', sans-serif
  margin: 0
  h1
    color: $color-text
