*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  outline: none

::-moz-selection
  color: #fff
  color: rgba(255, 255, 255, 0.85)
  background: $color-brand

::selection
  color: #fff
  color: rgba(255, 255, 255, 0.85)
  background: $color-brand

body
  background: white
  font-family: 'Roboto', sans-serif
  margin: 0
  font-size: 16px
  h1
    font-weight: 300
    font-size: 56px
    margin: 20px 0
    + p
      opacity: 0.7
      font-weight: 300
      font-size: 22px
      color: $color-dark
      line-height: 36px
  h2
    font-weight: 300
    font-size: 56px
    margin: 20px 0 40px
  h3
    font-size: 16px
    font-weight: 500
    margin: 10px 0
  ul
    margin: 0
    padding: 0
    list-style: none

.content
  max-width: 900px
  margin: 0 auto
  padding-right: 20px
  padding-left: 20px

/* align */

.center
  text-align: center

.flex
  display: -ms-flexbox
  display: flex
  -ms-flex-pack: justify
  justify-content: space-between

/* tint-colors */

.color-white
  color: $color-white
  a
    color: $color-white
  .button
    &.secondary
      box-shadow: inset 0 0 0 1px $color-white-brand-light
      color: $color-white
    &.primary
      background: $color-white
      color: $color-brand

/* padding */

.padding-m
  padding-top: $padding-m
  padding-bottom: $padding-m

.padding-s
  padding-top: $padding-s
  padding-bottom: $padding-s

.padding-xs
  padding-top: $padding-xs
  padding-bottom: $padding-xs

/* background */

.background-dark
  background: $color-dark

.background-dark-lighter
  background: $color-dark-lighter

.background-brand
  background: $color-brand

/* buttons */

.button
  border-radius: 4px
  width: 150px
  text-decoration: none
  padding: 13px 0
  display: inline-block
  text-align: center
  margin: 0 10px
  &:hover
    opacity: .9
  &.secondary
    box-shadow: inset 0 0 0 1px $color-brand-light
    color: $color-brand
  &.primary
    background: $color-brand
    color: $color-white

/* sections */

header
  nav
    ul
      li
        &:first-child
          a
            opacity: .3
        &:last-child
          a
            color: $color-brand
        a
          color: $color-dark
          text-decoration: none
          &:hover
            opacity: .5

.features
  li
    max-width: 210px
    p
      margin: 10px 0 0
      line-height: 24px

.video-demo
  position: relative
  iframe
    max-width: 100%

footer
  ul
    li
      ul
        margin: 0 0 40px
        li
          margin: 0 0 10px
          min-width: 210px
          a
            font-weight: 300
            text-decoration: none
            &:hover
              opacity: .8
  .about
    border-top: 1px solid #1A1A1A
    font-size: 13px
    a, span
      opacity: .3
      text-decoration: none
      &:hover
        opacity: .8

@media screen and (max-width: 940px)
  .flex
    -webkit-flex-wrap: wrap
    flex-wrap: wrap
    li
      margin-bottom: 20px
  body
    h1
      font-weight: 300
      font-size: 30px
      margin: 20px 0
      + p
        opacity: 0.7
        font-weight: 300
        font-size: 20px
        line-height: 28px
        color: $color-dark
    h2
      font-weight: 300
      font-size: 30px
      margin: 20px 0 40px

  header
    display: none
