.wrapper
  .content.padding-m.center
    = image_tag "logo-komponents.svg", alt: "Logo Komponents"
    h1 = t 'hero.home.title'
    p = t 'hero.home.subtitle'
    .padding-xs
      = partial 'shared/ctas-welcome'
      
.wrapper.background-dark-lighter
  .content.features.padding-m.color-white
    ul.flex
      - t('features.items').each do |id, features|
        li
          = image_tag "features/#{id}.svg", alt: "Komponents #{id}"
          p
            = features[:title]
            
.wrapper.background-dark
  .content.video-demo.padding-m
    = image_tag "https://github.com/freshOS/Komponents/blob/master/demo.gif?raw=true", alt: "Komponents Demo"
    /iframe allowfullscreen="" frameborder="0" height="529" src="https://www.youtube.com/embed/UD3Zd20uSsk?rel=0&controls=0&showinfo=0" width="940" 

.wrapper.background-brand
  .content.padding-m.color-white.center
    h2 = t 'incentive.build'
    .ctas
      = partial 'shared/ctas-welcome'
